<div [ngClass]="[whileLoading]">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row-divider-spacer"></div>
            <div class="row data-row">
            
                <div class="col">
                    <div class="chart">
                        <div id="chartContainer" style="height: 100%; width: 100%;"></div>
                    </div>
                </div>
                
            </div>
            <div class="row-divider-container"><div class="row-divider"></div></div>
            <div class="row data-row">
                
                <div class="col">
                    <div class="chart">
                        <div id="chartContainer2" style="height: 100%; width: 100%;"></div>
                    </div>
                </div>  
                <div class="col-1">
                    <div class="col-divider-container"><div class="col-divider"></div></div>
                </div>
                <div class="col">
                    <div class="chart">
                        <div id="chartContainer3" style="height: 100%; width: 100%;"></div>
                    </div>
                </div>  
                
            </div>
            <div class="row-divider-container"><div class="row-divider"></div></div>
            <div class="row data-row">
            
                <div class="col">
                    <div class="chart">
                        <div id="chartContainer4" style="height: 100%; width: 100%;"></div>
                    </div>
                </div>  
                
            </div>
        </div>
        <div class="col-1"></div>
    </div>    
        
</div>

<div class="buffering-overlay" *ngIf = "ifLoading">
    <div>
        
    </div>
</div>
