
.card-container{
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

mat-card{
  width: 30%;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

mat-card-title{
  padding-bottom: 10px;
  font-size: 1rem;
}

.card-content{
  display: flex;
  flex-wrap: wrap;
}

mat-card-content{
  width: auto;
  flex: 1 0 30%;
  padding-bottom: 20px;

}

.card-container .inspect-btn{
  width: auto;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding-bottom: 20px;

}


