<mat-expansion-panel class="mainApp" (closed)="panelOpenState=false" (opened)="panelOpenState=true">
    <mat-expansion-panel-header class="collapsable">
        <mat-panel-title class="mainAppTitle">{{title}}<p class="mainBugCount" *ngIf="!panelOpenState">&nbsp;Bugs:&nbsp;({{bugCount}})</p></mat-panel-title>
    </mat-expansion-panel-header>
    Link to project:&nbsp;<a href="blank_" class="mainAppLink">{{gitLink}}</a>
    <mat-action-row class="mainBugContainer">
        <app-main-page-bug></app-main-page-bug>
    </mat-action-row>
    <mat-action-row class="mainBugContainer">
        <app-main-page-bug></app-main-page-bug>
    </mat-action-row>
    <mat-action-row class="mainBugContainer">
        <app-main-page-bug></app-main-page-bug>
    </mat-action-row>
</mat-expansion-panel>