.mainApp{
    width: 45vw;
    padding: 0px 0px 0px 6px;
    border-style: solid;
    border-width: 1px;
    border-color: dimgray;
}
mat-expansion-panel-header{
    color: black;
}
.mainApp:hover{
    border-color: rgb(75,75,75);
}
.mainAppTitle{
    font-weight: bold;
    font-size: large;
    margin: 0px;
    padding-top: 10px;
}
.mainAppTitle *{
    width: 425px;
}
.mainBugContainer{
    padding: 0px 0px 6px 6px;
}
.mainBugError{
    color: rgb(206, 21, 58);
    font-size: small;
}
.mainBugGood{
    font-size: small;
    color: yellowgreen;
}
