.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}



mat-card {
  width: 30%;
  margin: 10% auto;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}

#title{
  padding: 10px;
  margin: auto;
  /*margin-left: 5px;*/
  /*margin-right: 5px;*/

}

.logo{
  left: 0;
  width: 50px;
  height: 50px;
  transform: rotate(45deg);

}
.logo2{
  right: 0;
  width: 50px;
  height: 50px;
  transform: rotate(135deg);
}

.login-title{
  display: flex;

}

.dim {
  background-color: white;
  opacity: 90%;
}

.hide{
  display: none;
}

.spinner{
  position: absolute; /* or absolute */
  top: 40%;
  left: 47.5%;
  z-index: 1;
  background-color: transparent;
  text-align: center;
  font-weight: 500;
}

.invalid-login{
  width: 200px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--accent);
  font-weight: bold;

}

mat-checkbox{
  padding-top: 10px;
}



