.full-width-table {
  width: 80%;
  margin: 20px auto;
}

.table-container{
  padding-top: 20px;
  padding-bottom: 20px;
}

.mat-elevation-z8{
  margin-left: 50px;
  margin-right: 50px;
  justify-content: center;
}


div>table{
  width: 100%;
}
table td, table th {
  padding: 0 10px;
}

#appsort{
  display:inline-block;
  margin-left: 10px;
}

#reporterbugsearch{
  display:inline-block;
  margin-left: 10px;
}

#searchbyreporterBtn{
  display:inline-block;
}

#prioritysort{
  display:inline-block;
  margin-left: 10px;
}

#severitysort{
  display:inline-block;
  margin-left: 10px;
}
.filter-container{
  display: flex;
  justify-content: center;
}