<div class="container">
    <h1 class="titleH1 col-sm-3"> Bug Report View#{{br.bId}}</h1>

    <div class="form-group row">

        <label for="txttitle" class="col-sm-2 col-form-label">Title:</label>

        <label id="txttitle" class="col-sm-10 form-control-plaintext"> {{br.title}} </label>
    </div>

    <div class="form-group row">

        <label for="lblapplication" class="col-sm-2 col-form-label">Application:</label>

        <label id="lblapplication" class="col-sm-2 form-control-plaintext"> {{br.app.title}}</label>

        <label for="lbllocation" class="col-sm-2 col-form-label">Location:</label>

        <label id="lbllocation" class="col-sm-2 form-control-plaintext"> {{br.location}}</label>

    </div>
    <div class="form-group row">

        <label for="lblseverity" class="col-sm-2 col-form-label">Severity: </label>

        <label id="lblseverity" class="col-sm-2  form-control-plaintext">{{br.severity}}</label>

        <label for="lblpriority" class="col-sm-2 col-form-label">Priority: </label>

        <label id="lblpriority" class="col-sm-2  form-control-plaintext">{{br.priority}}</label>
        <label for="txtreporter" class="col-sm-1 col-form-label">Points:</label>

        <label class="col-sm-1  form-control-plaintext" id="txtreporter">{{br.pointValue}}</label>
    </div>
    <div class="form-group row">
        <label for="txtdate" class="col-sm-2 col-form-label">Creation Time:</label>

        <label type="datetime" readonly class="col-sm-2  form-control-plaintext" id="txtreporter">
            {{br.createdTime|date:'medium'}} </label>

        <label for="txtreporter" class="col-sm-2 col-form-label">Reporter:</label>

        <label class="col-sm-2  form-control-plaintext" id="txtreporter">{{br.username}} </label>

    </div>
    <div class="form-group row">

        <label for="lblapprovedTime" class="col-sm-2 col-form-label">Approved Time: </label>

        <label id="lblapprovedTime" class="col-sm-2  form-control-plaintext">{{br.approvedTime|date:'medium'}}</label>

        <label for="lblresolvedTime" class="col-sm-2 col-form-label">Resolved Time: </label>

        <label id="lblresolvedTime" class="col-sm-2  form-control-plaintext">{{br.resolvedTime|date:'medium'}}</label>

    </div>

    <div class="form-group row">

        <label for="txtdescription" class="col-sm-2 form-label"> Description:</label>

        <textarea id="txtdescription" readonly
            class="col-sm-8 form-control textareaDisabled">{{br.description}}</textarea>

    </div>



    <div class="form-group row">

        <label for="txtreproduceSteps" class="col-sm-2 form-label">Reproduce Steps:</label>

        <textarea id="txtreproduceSteps" readonly
            class="col-sm-8 form-control textareaDisabled">{{br.repSteps}}</textarea>

    </div>

    <hr>
    <div class="form-group ">
        <h1>Posted Solution(s)</h1>
        <app-posted-solutions-table></app-posted-solutions-table>
    </div>
    <br>
    <div class="row">

        <div class="col-12">
            <table class="table">
                <thead>
                    <th>
                        Title
                    </th>
                    <th>
                        Describtion
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Solver
                    </th>

                </thead>
                <tr *ngFor="let item of solutions">
                    <td>
                        {{item.title}}
                    </td>
                    <td>
                        {{item.description}}
                    </td>
                    <td>
                        {{item.status}}
                    </td>
                    <td>
                        {{item.client.username}}
                    </td>

                </tr>
            </table>
        </div>
    </div>

</div>
<div class="container">
    <h1 class="titleH1 col-sm-3">Post new Solution</h1>

    <div class="form-group row">

        <label class="col-sm-2 form-label">Title: </label>


        <input type="text" [(ngModel)]="SolTitle" class="col-sm-6 form-control" placeholder="Solution title">

    </div>
    <div class="form-group row">


        <label class="col-sm-2 form-label">Description: </label>
        <textarea [(ngModel)]="SolDescription" placeholder="Solution Describtion"
            class="col-sm-8 form-control textarea"> </textarea>
    </div>

    <div class="buttonGroup">
        <button type="button" (click)="postSolution()" class="btn btn-secondary">Cancel</button> <span> &nbsp;&nbsp; </span>
        <button type="button" class="btn btn-success">Submit</button>
    </div>
    <br>
</div>