.container{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
}

.formLabel{
    font-size: 16px;
}

.container{
    border-style: groove;
    border-radius: 20px;
}

.formLabel{
    width: 20%;
}

.dropDown{
    padding: 3px 3px;
    margin: 0 50px 0 0;
}

.buttonGroup{
    text-align: right;
}

.inputType{
    width: 50%;
}

.warningPost{
    color:red;
    text-align: center;
}
