
<div id="chartContainer" style="height: 370px; width: 100%;"></div>

<div class="row data-row" *ngFor= 'let client of clients'>
    <div class = "col-2">
        <h1>{{client.firstname}} {{client.lastname}}</h1>
    </div>

    <div class = "col-3">
        <div class="dot-wrap">
            <div class="dot-data" id="bugs-unresolved">
                {{client.bugsDataPoint.y}}
            </div>
        </div>
    </div>

    <div class= "col-3">
        <div class="dot-wrap ">
            <div class="dot-data" id="bugs-resolved">
                {{client.solutionsDataPoint.y}}
            </div>
        </div>
    </div>

</div>