<div class = "container">
  <div class = "form-box">
    <div class = "button-box">
    <div #btn id = "btn"></div>
    <button type = "button" class="toggle-btn" (click)="switch2()">Login</button>
    <button type = "button" class="toggle-btn" (click)="switch1()">Register</button>
  </div>

  <form #login id = "login" class="input-group login-input">
    <input type = "text" class="input-field" placeholder="Username">
    <input type = "password" class="input-field" placeholder="Password">
    <a class="password-reset" (click)="open(content)">Reset Password</a>
    <button type="submit" class="submit-btn">Log In</button>
  </form>

    <form #register id = "register" class="input-group register-input">
      <input type = "text" class="input-field" placeholder="Enter your first name: ">
      <input type = "text" class="input-field" placeholder="Enter your last name: ">
      <input type = "text" class="input-field" placeholder="Enter an email address: ">
      <input type = "text" class="input-field" placeholder="Enter a username: ">
      <input type = "password" class="input-field" placeholder="Enter a password: ">
      <input type = "password" class="input-field" placeholder="Confirm password: ">
      <button type="submit" class="submit-btn">Register</button>
    </form>
  </div>
</div>

<ng-template class="modal-view" #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-password-reset></app-password-reset>
  </div>
</ng-template>
<hr>

<pre>{{ closeResult }}</pre>
