<div [ngClass]="{'dim' : toggle, '*': !toggle}" class="container">
  <div *ngIf="showSpinner" class="spinner">Logging in...<app-loading-spinner></app-loading-spinner>
  </div>
  <div [ngClass]="{'hide' : toggle, '*': !toggle}" class="form-box">
    <div class="button-box">
      <div #btn id="btn"></div>
      <button type="button" class="toggle-btn" (click)="switch2()">Login</button>
      <button type="button" class="toggle-btn" (click)="switch1()">Register</button>
    </div>

    <form #login id="login" class="input-group login-input">
      <input #txtuname id="txtuname" type="text" class="input-field" placeholder="Username" (input)="resetlogin()">
      <input #txtpass id="txtpass" type="password" class="input-field" placeholder="Password" (input)="resetlogin()">
      <a class="password-reset" (click)="open(content)">Reset Password</a>
      <button type="button" (click)="clientLogin();" class="submit-btn">Log In</button>
      <label *ngIf="inValidUser">Wrong username or password </label>
    </form>

    <form [formGroup]="registerform" id="register" #register class="input-group register-input ">


      <div class="col">
        <div class="form-group  ">
          <label for="txtFname" class="col-sm-6  form-label">First Name:</label>
          <input type="text" id="txtFname" #txtFname name="txtFname" [(ngModel)]="Fname"
            placeholder="Enter your first name: " class="col-sm-6   input-field" (input)="resetregister()"
            formControlName="Fname">
        </div>
        <div class="form-group  ">
          <label for="txtLname" class="col-sm-6   form-label">Last Name:</label>
          <input type="text" id="txtLname" #txtLname name="txtLname" [(ngModel)]="Lname"
            placeholder="Enter your last name: " class="col-sm-6  input-field" (input)="resetregister()"
            formControlName="Lname">
        </div>
        <div class="form-group  ">
          <label for="txtEmail" class="col-sm-6   form-label">Email:</label>
          <input type="email" id="txtEmail" #txtEmail name="txtEmail" [(ngModel)]="Email"
            placeholder="Enter an email address: " class="col-sm-6   input-field" (input)="resetregister()"
            formControlName="Email">
        </div>
        <div class="form-group  ">
          <label for="txtUsername" class="col-sm-6   form-label">Username:</label>
          <input type="text" id="txtUsername" #txtUsername name="txtUsername" [(ngModel)]="Username"
            placeholder="Enter a username: " class="col-sm-6  input-field" (input)="resetregister()"
            formControlName="UserName">
        </div>
        <div class="form-group  ">
          <label for="txtPass" class="col-sm-6   form-label">Password:</label>
          <input type="password" id="txtPass" #txtPass name="txtPass" [(ngModel)]="Pass"
            placeholder="Enter a password: " class="col-sm-6  input-field" (input)="resetregister()"
            formControlName="Password">
        </div>
        <div class="form-group  ">
          <label for="txtConfPass" class="col-sm-6  form-label">Confirm password:</label>
          <input type="password" id="txtConfPass" #txtConfPass name="txtConfPass" [(ngModel)]="ConfPass"
            placeholder="Confirm password: " class="col-sm-6  input-field " (input)="resetregister()"
            formControlName="ConfPass">
        </div>
        <div class="form-group   " style="text-align: center; color: firebrick;">
          <ng-container *ngIf="savingfailed">Error : Saving Falied </ng-container>
          <ng-container *ngIf="txtConfPass.value!==txtPass.value"> Password does not match</ng-container>
          <ng-container *ngIf="valiationMsg!==''"> {{valiationMsg}}</ng-container>
          <button type="submit" #btnRegister id="btnRegister" class=" col-sm-12   submit-btn" (click)="clientRegister()"
            [disabled]="registerform.invalid">
            Register
          </button>
        </div>

      </div>

    </form>



  </div>

</div>

<ng-template class="modal-view" #content let-modal>
  <div class="modal-header">
    <button type="button" class="close" (click)="modal.dismiss('Cross click')">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-password-reset></app-password-reset>
  </div>
</ng-template>
<hr>
<pre>{{ closeResult }}</pre>
<!--         </div>
    </div> -->
