*{
  margin: 0;

}
.container{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  background-position: center;
  background-size: cover;
  position: absolute;
}

.modal-body{
  height:200px;
}

.form-box{
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow:hidden;
  border-radius: 5px;
  border: solid #ff105f 2px;
  opacity: 90%;
}

.button-box{
  width: 220px;
  margin: 35px auto;
  position: relative;
  border-radius: 30px;
  background:wheat;
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: red;
  border-radius: 30px;
  transition: .5s;
}

.input-group{
  top: 100px;
  position: absolute;
  width: 200px;
  /*height: 100%;*/
  background: #fff;
  transition: .5s;
}


/* temporary fixes */

.login-input input{
  height: 50%;

}

.register-input input{
  height: 75%;

}

/* end temporary fixes */


.input-field{
  top: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-bottom: 1px solid #999;
  border-right: 0;
  background: #fff;
  height: 20px;
}

.password-reset{
  background: #fff;
}

.submit-btn{
  width: 85%;
  height: 10%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 30px 20px;
  background: red;
  border: 0;
  outline: none;
  border-radius: 30px;
}

#login{
  left: 50px;
}

#register{
  left: 450px;
}

.dim {
  background-color: white;
  opacity: 90%;
}

.hide{
  display: none;
}

.spinner{
  position: absolute; /* or absolute */
  top: 25%;
  left: 45%;
  z-index: 1;
  background-color: white;
  text-align: center;
  font-weight: 500;

}
