<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport = "true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [ngClass]="{hidden: (isHandset$ | async)!.matches}"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Main</a>
      <a mat-list-item href="#">Profile</a>
      <a mat-list-item href="#">Login</a>
      <a mat-list-item href="#">New Bug Report</a>
      <a mat-list-item href="#">Logout</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Bug Bounty System</span>
      <span class="spacer"></span>
      <a href="#">Main</a>
      <a href="#">Profile</a>
      <a href="#">Login</a>
      <a href="#">New Bug Report</a>
      <a href="#">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
