<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport = "true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [hidden]="show"
      [ngClass]="{hidden: (isHandset$ | async) === true}"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar> Menu </mat-toolbar>
    <mat-nav-list>
      <!--initial-->
      <a mat-list-item routerLink="/">Login</a>
      <a mat-list-item routerLink="/main">Main</a>

      <!--dev-->
      <ng-container *ngIf="clientRole >= 1"><!-- Dev & Admin-->
        <a mat-list-item routerLink="/profile" id="profileTab">Profile</a>
        <a mat-list-item routerLink="/newbugreport">Report New Bug</a>
        <a mat-list-item id = "logoutButton" tabindex=0 (click)="logout()">Logout</a>
      </ng-container>

      <!--admin-->
      <ng-container *ngIf="clientRole == 2"><!-- Admin -->
        <a mat-list-item routerLink="/adminbugs">Admin Bugs</a>
        <a mat-list-item routerLink="/adminsolutions">Admin Solutions</a>
        <a mat-list-item routerLink="/applications" id="applicationsTab">Applications</a>

      </ng-container>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="showNav();drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img class="logo" src="http://bug-bounty-system.s3-website.us-east-2.amazonaws.com/Ladybug-128.png" routerLink="/main"> </span>
      <span>Bug Bounty System </span>
      <mat-slide-toggle id="theme-toggle" (click)="changeTheme()">{{theme}}</mat-slide-toggle>
      <span class="spacer"></span>
      <a routerLink="/main">Main</a>
      <div class="links" *ngIf="clientRole >= 1"><!-- Dev & Admin-->
        <a routerLink="/profile">Profile</a>
        <a routerLink="/newbugreport">Report New Bug</a>
      </div>
      <a routerLink="/bugs">View Bugs</a>
      <div class="admin-links links" *ngIf="clientRole == 2"><!-- Admin -->
        <!-- <a routerLink="/adminbugs">Admin Bugs</a>
        <a mat-list-item routerLink="/adminsolutions">Admin Solutions</a> -->
        <a routerLink="/applications">Applications</a>
        <a mat-list-item routerLink="/metrics">Metrics</a>
      </div>
      <a class="login" *ngIf="clientRole != 0" (click)="logout()">Logout</a>
      <a class="login" *ngIf="clientRole == 0" routerLink="/">Login</a>
      
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
