.active {
  background-color: gray; 
  border: 1px solid gray;
  padding: 15px;
}


.sidenav-container {
  z-index: 40;
  width: 100%;
  position: fixed;
}

a{
  cursor:pointer;
}

.sidenav {
  width: 200px;
}

.sidenav, .mat-toolbar {
  background: inherit;
  overflow: hidden;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

@media (min-width: 768px){
  .sidenav{
    display: none;
  }
}

/*.hidden{*/
/*  display: none;*/
/*}*/



.spacer{
  flex: 1 1 auto;
}

body{
  margin: 0;
}

mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px){
  .links {
    display: none;
  }
  .admin-links{
    display: none;
  }

  mat-toolbar a{
    display: none;
  }
}

.press, img, .press:focus, img:focus{
  outline: 0 !important;
  border:0 none !important;
}

.logo {
  padding: 10px;
  width: 75px;
  height: 75px;
  transform: rotate(45deg);
  cursor: pointer;
}



#theme-toggle{
  margin-left: 20px;
  font-size: 12px;
}




