.page-header{
    margin: 15px;
  }
  
  button {
    margin-left: 15px;
  }
  
  #toggle-view{
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    padding-top: 20px;
  }
  