<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form class="formGroup">
                Please type your email: 
                <input class="email" type="email" [formControl]="email" required>
                <div class="btn-wrapper">
                    <button class="submitBtn" type="submit" (click)="submit()">Submit</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>