/* .mat-row{        
  position: relative;
}

.mat-row-link{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;             
} */

.container{
  height: 100%;
  width: 100%;
  background-position: center;

  position: center;
} 

table{
  /* background-position: center; */
  position: center;
  background-position: center;

  border: 1px solid black;
  border-collapse: collapse;
  padding:10px;
  
   width:1000px; 
   height: 200px;  
  }

th, td {
  background-position: center;
  position: center;
  background-position: center;
  
  border: 1px solid black;
  border-collapse: collapse;
  padding:10px;

  width:200px; 
  height: 30px;  

}

th{
  color: whitesmoke;
  background-color: black;
  font-size: medium;
}