<button mat-raised-button color="primary" (click)="onSetTheme('dark-theme')">Dark</button>
<button mat-raised-button color="primary" (click)="onSetTheme('light-theme')">Light</button>
<div class="mainPageContainer">
    <div class="mainTop">
        <p class="mainLogo"><img class="mainBugL" src="../../../assets/Ladybug-128.png">Bug's @ Large<img
                class="mainBugR" src="../../../assets/Ladybug-128.png"></p>
    </div>

    <div class="mainLeft">
        <mat-accordion>
            <app-main-page-application *ngFor="let app of applications" [application]="app"></app-main-page-application>
        </mat-accordion>
    </div>

    <div class="mainRight">
        <app-main-page-leaderboard></app-main-page-leaderboard>
    </div>
</div>
