<div class="container">

    <div id="profileHalf">

        <div id="profileLeftColumn">

            <div id="profilePicDiv">

                
                <!-- <img id="profilePic" src="https://www.thegivingtree.com/images/placeholder-images/placeholder_profile_photo.png" alt="Profile Pic"> -->
                <img id="profilePic" src="http://bug-bounty-system.s3-website.us-east-2.amazonaws.com/exterminator.png" alt="Profile Pic">

            </div>

            <div id="pointsDiv">
                <h1>Points</h1>
                <h1>{{points}}</h1>
            </div>

        </div>

        <div id="AboutMeDiv">
            <div id="titleDiv"><h1>{{client.username}}</h1></div>
            <div id="profileDetail">
                <h2>Name: {{client.fName}} {{client.lName}}</h2>
                <h2 id="userNameProfile">Username: {{client.username}}</h2>
                <h2>Role: {{client.role}}</h2> 
                <a class="password-reset" (click)="open(content)">Update Password</a>
            </div>
        </div>

    </div>


    <div id="spacer"></div>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title id = "BugsTableTitle">
           View All My Bug Reports
          </mat-panel-title>
        </mat-expansion-panel-header>
            <div class="selectDivs" *ngIf="bugStatus">
                Bug Report Status: 
                <mat-form-field>
                    <mat-select [(value)]="bugStatus">
                        <mat-option value="All">All</mat-option>
                        <mat-option value="Requested">Requested</mat-option>
                        <mat-option value="Denied">Denied</mat-option>
                        <mat-option value="Unresolved">Unresolved</mat-option>
                        <mat-option value="Resolved">Resolved</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        
            <!--
                Instead of using ngSwitch would be really great if we could just refresh the div with 
                    <app-bug-reports-table *ngIf="bugStatus" [bugStatus]="bugStatus" [client] = "client"></app-bug-reports-table>
                Tried unsuccessfully with setting the innerHtml of element with id bugTableDiv to 
                    <app-bug-reports-table *ngIf="bugStatus" [bugStatus]="bugStatus" [client] = "client"></app-bug-reports-table>
                I'm sure there is a way to do it!
            -->
        
            <ng-container [ngSwitch]="bugStatus">
                <ng-container *ngSwitchCase="'Requested'">
                    <div id="bugTableDiv">
                        <app-bug-reports-table [bugStatus]="bugStatus" [client] = "client"></app-bug-reports-table>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'Denied'">
                    <div id="bugTableDiv">
                        <app-bug-reports-table [bugStatus]="bugStatus" [client] = "client"></app-bug-reports-table>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'Unresolved'">
                    <div id="bugTableDiv">
                        <app-bug-reports-table [bugStatus]="bugStatus" [client] = "client"></app-bug-reports-table>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="'Resolved'">
                    <div id="bugTableDiv">
                        <app-bug-reports-table [bugStatus]="bugStatus" [client] = "client"></app-bug-reports-table>
                    </div>
                </ng-container>
                <ng-container *ngSwitchDefault="'All'">
                    <div id="bugTableDiv">
                        <app-bug-reports-table [bugStatus]="bugStatus" [client] = "client"></app-bug-reports-table>
                    </div>
                </ng-container>
            </ng-container>
        </mat-expansion-panel>
        
        <div id="spacer"></div>

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
            <mat-panel-title id = "SolutionsTableTitle">
            View All My Solutions
            </mat-panel-title>
            </mat-expansion-panel-header>
                <div class="selectDivs">
                    Solution Status: 
                    <mat-form-field>
                        <mat-select [(value)]="solutionStatus">
                            <mat-option value="All">All</mat-option>
                            <mat-option value="Pending">Pending</mat-option>
                            <mat-option value="Accepted">Accepted</mat-option>
                            <mat-option value="Rejected">Rejected</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!--
                    Instead of using ngSwitch would be really great if we could just refresh the div with 
                        <app-solutions-table *ngIf="solutionStatus" [solutionStatus]="solutionStatus" [client] = "client"></app-solutions-table>
                    Tried unsuccessfully with setting the innerHtml of element with id bugTableDiv to 
                        <app-solutions-table *ngIf="solutionStatus" [solutionStatus]="solutionStatus" [client] = "client"></app-solutions-table>
                    I'm sure there is a way to do it!
                -->

                <ng-container [ngSwitch]="solutionStatus">
                    <ng-container *ngSwitchCase="'Pending'">
                        <div id="solutionTableDiv">
                            <app-solutions-table *ngIf="solutionStatus" [solutionStatus]="solutionStatus" [client] = "client"></app-solutions-table>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Accepted'">
                        <div id="solutionTableDiv">
                            <app-solutions-table *ngIf="solutionStatus" [solutionStatus]="solutionStatus" [client] = "client"></app-solutions-table>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'Rejected'">
                        <div id="solutionTableDiv">
                            <app-solutions-table *ngIf="solutionStatus" [solutionStatus]="solutionStatus" [client] = "client"></app-solutions-table>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault="'All'">
                        <div id="solutionTableDiv">
                            <app-solutions-table *ngIf="solutionStatus" [solutionStatus]="solutionStatus" [client] = "client"></app-solutions-table>
                        </div>
                    </ng-container>
                </ng-container>
        </mat-expansion-panel>

</div>
        <ng-template class="modal-view" #content let-modal>
            <div class="modal-header">
              <button type="button" class="close" (click)="modal.dismiss('Cross click')">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-update-password></app-update-password>
            </div>
        </ng-template>
          <hr>
          
          <pre>{{ closeResult }}</pre>