.container {
    padding-top: 10px;
}
    .profile-card{
        width: 100%;
        max-height: 500px;
    }
        #AboutMeDiv{
            border-style: solid;
            width: 100%;
            display: flex;
            flex-direction: column;
            height: 90%;
        }
            #titleDiv{
                margin-top: 2%;
                text-align: center;
                border-bottom-style: solid;
                border-bottom-width: 3px;
                height: 10%;
            }
            #profileDetail{
                display: flex;
                justify-content: space-between;
                margin: 5% 15%;
                flex-direction: row;
                text-align: center;
                height: 90%;
            }
                .column-flexbox{
                    margin-top: 10px;
                    display: flex;
                    justify-items: left;
                    flex-direction: column;
                }
                    .password-container{
                        display: flex;
                    }
                        .password-reset{
                            margin-top: 10px;
                            cursor: pointer;
                        }
            /* #button-container{
                display: flex;
                position: relative;
                left: 50%; 
                margin-bottom: 3%;
            }
            #profilePic{
                height: 90%;
                width: 90%;
                left: 0px;
            } */
            
    #bugTableDiv{
        margin-top: 2vh;
    }

    #solutionTableDiv{
        margin-top: 2vh;
    }

    .selectDivs{
        margin-right: 10px;
        float: right;
        padding-top: 15px;
    }
    #spacer{
        height: 30px;
    }