<form class="container">

    <ng-container *ngIf="br!=null">
        <h1 class="titleH1  col  "> Bug Report Details#{{brId}}</h1>

        <div class="form-group row">
            <label for="txttitle" class="col-sm-2 form-label">Bug Title:</label>
            <label id="txttitle" class="col-sm-2  "> {{br.title}} </label>
            <label for="txtstatus" class="col-sm-2  form-label">&emsp;Bug Status:</label>
            <label id="txtstatus" class="col-sm-2 f "> {{br.status}} </label>
        </div>

        <div class="form-group row">
            <label for="lblapplication" class="col-sm-2  form-label">Application:</label>
            <ng-container *ngIf="br.app !=null">
                <label id="lblapplication" class="col-sm-2 "> {{br.app.title}}</label>
            </ng-container>
            <label for="lbllocation" class="col-sm-2  form-label">&emsp;Location:</label>
            <label id="lbllocation" class="col-sm-2 "> {{br.location}}</label>

        </div>
        <div class="form-group row">
            <label for="ddlseverity" class="col-sm-2  form-label">Severity: </label>
            <label *ngIf="!isAdmin" id="txtstatus" class="col-sm-2 f "> {{br.severity}} </label>
            <select #ddlseverity id="ddlseverity" name="ddlseverity" [(ngModel)]="br.severity"
                (change)="setSeverity($event)" class="col-sm-2   mr-sm-2" *ngIf="isAdmin">
                <option value="" disabled>Choose Severity</option>   
                <option value="Low">Low</option>    
                <option value="Medium">Medium</option>                                          
                <option value="High">High</option>                                   
            </select>
          
            <label for="ddlpriority" class="col-sm-2  form-label">	&nbsp;Priority: </label>
            <label *ngIf="!isAdmin" id="txtstatus" class="col-sm-2 f "> {{br.priority}} </label>
            <select #ddlpriority id="ddlpriority" name="ddlpriority" [(ngModel)]="br.priority"
                (change)="setPriority($event)" class="col-sm-2   mr-sm-2" *ngIf="isAdmin">
                <option value="" disabled>Choose Priority</option>   
                <option value="Low">Low</option>    
                <option value="Medium">Medium</option>                                          
                <option value="High">High</option>
            </select>

        </div>
        <div class="form-group row">
            <label for="txtdate" class="col-sm-2  form-label">Creation Time:</label>

            <label type="datetime" readonly class="col-sm-2  " id="txtreporter">
                {{br.createdTime|date:'medium'}} </label>

            <label for="txtreporter" class="col-sm-2  form-label">&emsp;Reporter:</label>

            <label class="col-sm-2 " id="txtreporter">{{br.username}} </label>

        </div>
        <div class="form-group row">
            <label for="lblapprovedTime" class="col-sm-2  form-label" *ngIf="br.approvedTime!=0">Approved Time: </label>

            <label id="lblapprovedTime" class="col-sm-2    " *ngIf="br.approvedTime!=0" >{{br.approvedTime|date:'medium'}}</label>

            <label for="lblresolvedTime" class="col-sm-2  form-label" *ngIf="!(br.status==='Unresolved')">Resolved Time: </label>

            <label id="lblresolvedTime" class="col-sm-2   " *ngIf="!(br.status==='Unresolved')">{{br.resolvedTime|date:'medium'}}</label>

        </div>
        <div class="form-group row">
            <label for="txtpoints" class="col-sm-2  form-label">Points: </label>
            <label *ngIf="!isAdmin" id="txtstatus" class="col-sm-2 f "> {{br.pointValue}} </label>
            <input id="txtpoints"  #txtpoints name="txtpoints" [(ngModel)]="br.pointValue"  type="number"
                class="col-sm-2" style="max-width: 120px;" *ngIf="isAdmin">
            
                <label class="col-sm-2  form-label">Solutions: </label>
        </div>

        <div class="form-group row">

            <label for="txtdescription" class="col-sm-2 form-label"> Description:</label>

            <div id="txtdescription" readonly
                class="col-sm-8 form-control textareaDisabled" [innerHtml]="br.description"></div>

        </div>

        <div class="form-group row">

            <label for="txtreproduceSteps" class="col-sm-2 form-label">Reproduce Steps:</label>

            <div id="txtreproduceSteps" readonly
                class="col-sm-8 form-control textareaDisabled" [innerHtml]="br.repSteps"></div>

        </div>

          <div class="buttonGroup" *ngIf = "isAdmin">
            <button type="button" *ngIf="!(br.status==='Unresolved')"  [disabled]= "br.status==='Resolved'" class="
                btn btn-success" (click)="AcceptBug()">Approve </button>
             <button type="button" *ngIf=" !(br.status  === 'Denied')  " [disabled]="br.status  === 'Resolved'"
                 class="btn btn-danger" (click)="RejectBug()">Reject</button>
             
             </div>
                <br>


    </ng-container>
</form>
