<form class="container">
  
    <h1  class="titleH1 col-sm-3"  > Bug Report Details #</h1> 

    <div class="form-group row">
        <label for="txttitle" class="col-sm-2 col-form-label">Bug Title:</label>
       
            <input id="txttitle" type="text" readonly class="col-sm-10 form-control-plaintext" value="{{title}}">
        
    </div>
    <div class="form-group row">

        <label for="ddlseverity" class="col-sm-2 col-form-label">Severity: </label>

        <select id="ddlseverity"  class="col-sm-2 form-control mr-sm-2">
            <option value="" disabled>Choose severity</option>                                     
            <option *ngFor="let severity of severityLevel" [ngValue]="severity">{{severity}}</option>           
        </select>
        <span class="col-sm-1"> </span>
        <label for="ddlpriority" class="col-sm-1 col-form-label">Priority: </label>

        <select id="ddlpriority"  class="col-sm-2 form-control mr-sm-2">
            <option value="" disabled>Choose priority</option>                                     
            <option *ngFor="let priority of priorityLevel" [ngValue]="severity">{{priority}}</option>           
        </select>
    </div>
    <div class="form-group row">
        <label for="txtpoints" class="col-sm-2 col-form-label">Points: </label>
        <input id="txtpoints" type="number" value="{{points}}" class="col-sm-2 number form-control ">
    </div>
    <div class="form-group row">
        <label for="txtdate" class="col-sm-2 col-form-label">Date:</label>
     
            <input type="datetime" readonly class="col-sm-2  form-control-plaintext" id="txtreporter" value="{{date}}">
      
    </div>
    <div class="form-group row">
        <label for="txtreporter" class="col-sm-2 col-form-label">Reporter:</label>
     
            <input type="text" readonly class="col-sm-2  form-control-plaintext" id="txtreporter" value="{{reporter}}">
      
    </div>

    <div class="form-group row">
       

            <label for="txtdescription" class="col-sm-2 form-label"> Description:</label>
         
            <textarea id="txtdescription" readonly class="col-sm-8 form-control textareaDisabled">{{description}}</textarea>
       
    </div>



    <div class="form-group row">
     
            <label for="txtreproduceSteps"  class="col-sm-2 form-label">Reproduce Steps:</label>
      
            <textarea id="txtreproduceSteps" readonly class="col-sm-8 form-control textareaDisabled">{{reproduceSteps}}</textarea>
      
    </div>

      <div class="buttonGroup">
         <button type="button" class="btn btn-danger">Reject</button>
         <button type="submit" class="btn btn-success">Approve </button>
         </div>
            <br>



</form>