
<!-- appliation inputs -->

<div id="formDiv">
  <p class="mat-display-2">Applications</p>
  
    <label>Application Title<span> *</span></label><br>
    <input type = "text" placeholder="Project One" [(ngModel)] = "appTitle" > <p #titlErr id="tErr"></p> <br><br>
    <label>Github Link<span> *</span> </label><br>
    <input type = "text" placeholder="https://github.com/application/githublink" [(ngModel)] = "appLink" > <p #linkErr id="lErr"></p><br><br>

    <button id="canc" mat-raised-button (click)="clear()">Cancel</button> 
    <button id="save" mat-raised-button (click)="addApplication()">Save</button> 
    <!-- (click)="addApplication()" -->
  
</div>
<!-- [applicationList] =apps -->
<!-- <app-applications-table ></app-applications-table> -->

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id #</th>
      <td mat-cell *matCellDef="let application">{{application.id}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Application Title</th>
      <td mat-cell *matCellDef="let application">{{application.title}}</td>
    </ng-container>

    <!-- GitLink Column -->
    <ng-container matColumnDef="gitLink">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Github Link</th>
      <td mat-cell *matCellDef="let application">{{application.gitLink}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[5, 10, 20, 50]">
  </mat-paginator>
</div>



<!-- Table of applications -->
  <!-- <table>
    <thead>
    
      <th>Id #</th>
      <th>Title</th>
      <th>Github Link</th>

    </thead>
    <tr *ngFor = "let app of apps;">        
      <td>{{app.id}}</td>
      <td>{{app.title}}</td>
      <td>{{app.gitLink}}</td>  
          
    </tr>
          
  
  </table> -->