button{
    margin: .5rem;
}
#formDiv{
    margin-top: 1%;
    margin-left: 5%;
}
.mat-display-2{
  margin-bottom: 2%;
}
label{
font-size: 1.2em;
color: black;
}

#save{
    background-color: rgb(1, 6, 14);
}

#canc{
    background-color: rgb(245, 18, 18);
}

span{
    color: rgb(245, 18, 18);
    font-weight: bold;
}

input{
    width: 25%;
    height: 1.5rem;
    font-size: 1.5em;
}

#tErr, #lErr{
    color: rgb(245, 18, 18);
}
table{
    margin-top: 5%;
    margin-left: 5%;
    border: solid 1px black;
    width: 45%;
    height: auto;
    text-align: center;
}
th,td{
    font-size: 1.2em;
    padding: 8px;
    border: 1px solid #dddddd;
}

th{
    background-color: rgb(51, 48, 48);
    color: white;
}