button{
  margin: .5rem;
}
#formDiv{
  margin-top: 1%;
  margin-left: 5%;
}
.mat-display-2{
margin-bottom: 2%;
}
label{
font-size: 1.2em;
color: black;
}

#save{
  /*background-color: rgb(1, 6, 14);*/
  background-color: forestgreen;
  color: white;
}

#canc{
  background-color: var(--accent);
  color: white;
}

span{
  color: rgb(245, 18, 18);
  font-weight: bold;
}

input{
  width: 25%;
  height: 1.9rem;
  font-size: 1.5em;
}

#tErr, #lErr{
  color: rgb(245, 18, 18);
}

.mat-elevation-z8{
  width:50%;
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  border: solid 1px black;
  height: auto;
  box-shadow: none;

}
.full-width-table {
  width: 100%;
}
th{
  /* text-align: center; */
  font-size: 1.5em;
  color: whitesmoke;
  background-color: rgb(51, 48, 48);

}
mat-paginator{
  color: whitesmoke;
  background-color: rgb(51, 48, 48);

}

td{
  background-color: white;
  color: black;
  font-size: 1.2em;
}

