<div id="formDiv">
  <p class="mat-display-2">Applications</p>

    <label>Application Title<span> *</span></label><br>
    <input type = "text" placeholder="Project One" [(ngModel)] = "appTitle" id="appointTitle"> <p #titlErr id="tErr"></p> <br><br>
    <label>Github Link<span> *</span> </label><br>
    <input type = "text" placeholder="https://github.com/application/githublink" [(ngModel)] = "appLink" id="appointUrl"> <p #linkErr id="lErr"></p><br><br>

    <button id="canc" mat-raised-button (click)="clear()">Cancel</button>
    <button id="saveApp" color="warn" mat-raised-button (click)="addApplication()">Save</button>
</div>
<app-applications-table></app-applications-table>
