<div [ngClass]="[whileLoading]">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row-divider-spacer"></div>
            <div class="row">
                <div class="col-auto">
                    <div class=row>
                        <div class="col-4">
                            <div class="dot-wrap">
                                <h1>Requested Bugs</h1>
                                <div class="dot-data" id="bugs-requested">
                                    {{requestedBugsCount}}
                                </div>
                            </div> 
                        </div>
                        <div class="col-4">
                            <div class="dot-wrap">
                                <h1>Resolved Bugs</h1>
                                <div class="dot-data" id="bugs-resolved">
                                    {{resolvedBugsCount}}
                                </div>
                            </div> 
                        </div>
                        <div class="col-4">
                            <div class="dot-wrap">
                                <h1>Unresolved Bugs</h1>
                                <div class="dot-data" id="bugs-unresolved">
                                    {{unresolvedBugsCount}}
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="row time-row">
                        <div class="time-wrap">
                            <h1>Average Resolution Time</h1>
                            <div class="time-data" id="average-time">
                                {{avgTime}} Hours
                            </div>
                        </div> 
                    </div>             
                </div>
                <div class="col">
                    <div class="chart">
                        <div id="pieChartContainer" style="height: 100%; width: 100%;"></div>
                    </div>
                </div>   
            </div>
            <div class="row-divider-container"><div class="row-divider"></div></div>
            <div class="row data-row">
                <div class="chart">
                    <div id="lineChartContainer" style="height: 100%; width: 100%;"></div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>

<div class="buffering-overlay" *ngIf = "ifLoading">
    <div>
        
    </div>
</div>
    