.mainLeaderboard{
    width: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: darkslategrey;
    border-radius: 10px;
    font-weight: bold;
}
.mainLeaderboardLogo{
    background-color: crimson;
    color: ghostwhite;
    padding: 15px 0px 15px 0px;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    font-size: 24px;
    text-shadow: 2px 1px #090909;
}
.mainLeaderboardRow{
    background-color: snow;
    color: darkslategray;
    text-shadow: 1px 1px rgb(158, 15, 44);
    font-size: 18px;
    padding: 10px 0px 10px 30px;
    border-radius: 0px 0px 10px 10px;
    border-style: inherit;
    border-color: inherit;
    border-width: 1px 0px 0px 0px;
}