<app-unresolvedbugs-table></app-unresolvedbugs-table>
<app-resolvedbugs-table></app-resolvedbugs-table>

<!-- <div class="container">
    <br>
    <h1>UNRESOLVED BUGS</h1>
    <table >
      <th>Bug Title</th> <th>Solutions</th>
      <tr> <td>Bug 1</td> <td> <a routerLink="/solutionsforbug" routerLinkActive="active">View Solutions</a></td> </tr>
      <tr> <td>Bug 2</td> <td> <a routerLink="/solutionsforbug" routerLinkActive="active">View Solutions</a></td> </tr> 
      <tr> <td>Bug 3</td> <td> <a routerLink="/solutionsforbug" routerLinkActive="active">View Solutions</a></td>
      <tr> <td>Bug 4</td> <td> <a routerLink="/solutionsforbug" routerLinkActive="active">View Solutions</a></td>
    </table>
    <br>

  <h1>RESOLVED BUGS</h1>
     <table>
      <tr><th>Bug Title</th> <th>Bug Details</th> <th>Reporter</th> <th>Solution Title</th> <th>Solution Text</th> <th>Solver(s)</th> </tr>
      <tr> <td>Bug 1</td> <td><a routerLink="/bugdetails" routerLinkActive="active" > Details </a></td> <td>Reporter 1</td> <td>Solution Title 1</td> <td>Solution description 1</td> <td>Solver 1</td> </tr>
      <tr> <td>Bug 2</td> <td><a routerLink="/bugdetails" routerLinkActive="active" > Details </a></td> <td>Reporter 2</td> <td>Solution Title 2</td> <td>Solution description 2</td> <td>Solver 2</td> </tr>
      <tr> <td>Bug 3</td> <td><a routerLink="/bugdetails" routerLinkActive="active" > Details </a></td> <td>Reporter 3</td> <td>Solution Title 3</td> <td>Solution description 3</td> <td>Solver 3</td> </tr>
      <tr> <td>Bug 4</td> <td><a routerLink="/bugdetails" routerLinkActive="active" > Details </a></td> <td>Reporter 4</td> <td>Solution Title 4</td> <td>Solution description 4</td> <td>Solver 4</td> </tr>
    </table>
</div> -->