div{
    color: #444444;
}
div.mainBug{
    width: 100%;
    padding-right: 12px;
}
div.mainBugTopHead{
    border-width: 1px;
    border-style: solid;
    border-color: dimgray;
    background-color: #EFEFEF;
    padding: 5px 15px;
    border-radius: 6px 6px 0px 0px;
}
a.mainBugTitle{
    width: 570px;
    display: inline-block;
    font-size: 20px;
    color: crimson;
}
.mainBugField1{
    width: 135px;
    display: inline-block;
}
.mainBugField2{
    width: 200px;
    display: inline-block;
}
div.mainBugTopHeadSub{
    display: inline-block;
    font-size: 12px;
}
label.mainBugTopLabel{
    font-weight: bold;
    /* padding-left: 20px; */
    display: inline-block;
}
label.mainBugTopLabel2{
    font-weight: bold;
    /* padding-left: 20px; */
}
div.mainBugTopSub{
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 0px 0px 6px 6px;
    background-color: #FCFCFC;
}
div.mainBugBottomLabel{
    border-style: solid;
    background-color: #EFEFEF;
    border-color: #E0E0E0;
    border-width: 1px;
    padding-left: 10px;
    font-size: large;
    height: 20px;
    border-radius: 6px 6px 0px 6px;
}
div.mainBugBottomDescription{
    height: 37px;
    margin-left: 6px;
    padding: 10px;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    background-color: #FCFCFC;
    border-color: #E0E0E0;
    border-radius: 0px 0px 6px 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
  span.High{
      color: crimson;
      font-weight: bold;
  }
  span.Medium{
    color: goldenrod;
    font-weight: bold;
  }
  span.Low{
    color: yellowgreen;
    font-weight: bold;
  }